@use './css/fonts.scss' as fonts;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: fonts.$font-default;
}

body {
  /* display: flex; */
  /* justify-content: center; */
}

#root {
  /* padding: 2rem;
  text-align: center; */
}
