@use './css/fonts.scss' as fonts;

* {
  box-sizing: border-box;

  min-inline-size: unset;

  margin: unset;
  margin-inline: unset;

  padding: unset;
  padding-block: unset;
  padding-inline: unset;

  font-family: fonts.$font-default;
}

body {
  /* display: flex; */
  /* justify-content: center; */
}

#root {
  /* padding: 2rem;
  text-align: center; */
}
