@use '../../../css/fonts.scss' as fonts;

.XpmLinkButton {
  cursor: pointer;
  text-decoration: none;

  &.XpmLinkButton--underline {
    text-decoration: underline;
  }
}


.XpmLinkButton--xs {
  @include fonts.font-regular-xs;
}

.XpmLinkButton--s {
  @include fonts.font-regular-s;
}

.XpmLinkButton--sm {
  @include fonts.font-regular-sm;
}

.XpmLinkButton--m {
  @include fonts.font-regular-m;
}
