@use '../../../css/fonts.scss' as fonts;
$offset-from-center: 30px;

.XpmLoadingSpinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);

  .XpmLoadingSpinner--rotatingWrapper {
    position: absolute;
    width: 2 * $offset-from-center + 150px;
    height: 2 * $offset-from-center + 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rotate-around-center 5s linear infinite;
  }

  span {
    @include fonts.font-regular-m;
    position: absolute;
    width: 20px;
    height: 20px;

    top: 50%;
    left: 50%;

    // USD
    &:nth-child(1) {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(0deg) translateY(0px);
      animation: slide-usd 1s ease-out forwards 0.35s;
    }

    // EUR
    &:nth-child(2) {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(72deg) translateY(0px);
      animation: slide-eur 1s ease-out forwards 0.27s;
    }

    // GBP
    &:nth-child(3) {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(144deg) translateY(0px);
      animation: slide-gbp 1s ease-out forwards 0.2s;
    }

    // YEN
    &:nth-child(4) {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(216deg) translateY(0px);
      animation: slide-yen 1s ease-out forwards 0.1s;
    }

    // WON
    &:nth-child(5) {
      opacity: 0;
      transform: translate(-50%, -50%) rotate(288deg) translateY(0px);
      animation: slide-won 1s ease-out forwards 0s;
    }
  }
}

@keyframes rotate-around-center {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes slide-usd {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg) scale(0) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(0deg) scale(1) translateY(-$offset-from-center);
  }
}

@keyframes slide-eur {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(72deg) scale(0) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(72deg) scale(1) translateY(-$offset-from-center);
  }
}

@keyframes slide-gbp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(144deg) scale(0) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(144deg) scale(1) translateY(-$offset-from-center);
  }
}

@keyframes slide-yen {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(216deg) scale(0) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(216deg) scale(1) translateY(-$offset-from-center);
  }
}
@keyframes slide-won {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(288deg) scale(0) translateY(0px);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(288deg) scale(1) translateY(-$offset-from-center);
  }
}
