@use '../../../../../css/measures.scss' as measures;

.DesktopLayout {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  &--sidebar {
    flex: 0 0 300px;
    padding: measures.$pixels-xxl 0;
  }

  &--scrollable-window {
    flex: 1;

    overflow-y: auto;
    min-height: 100%;
    padding: measures.$pixels-xxl;
  }
}
