@use '../../../css/fonts.scss' as fonts;
@use '../../../css/colors.scss' as colors;

$element-height: 42px;

.InputText {
  height: $element-height;
  min-width: 200px;
  position: relative;

  &--disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  input {
    @include fonts.font-regular-xs;
    height: 100%;
    width: 100%;
    padding: 4px 16px 0px;
    border-radius: 16px;

    color: colors.$purple-500;

    &::placeholder {
      color: colors.$purple-500;
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0 0 5px colors.$purple-500-opacity-75;
    }
  }

  fieldset {
    position: absolute;

    right: 0px;
    bottom: 0px;
    left: 0px;

    height: $element-height + 8px; // need to account for the legend "sticking out" at the top

    pointer-events: none;

    border-width: 1px;
    border-style: solid;
    border-color: colors.$purple-500;
    border-radius: 16px;

    legend {
      @include fonts.font-bold-xxs;
      letter-spacing: 0.3px;

      background-color: white;
      color: colors.$purple-500-opacity-90;
      margin-left: 24px;
      padding: 0 8px;
    }
  }
}
