$pixels-3xs: 2px;
$pixels-xxs: 4px;
$pixels-xs: 6px;
$pixels-s: 8px;
$pixels-sm: 10px;
$pixels-m: 12px;
$pixels-ml: 16px;
$pixels-l: 20px;
$pixels-xl: 24px;
$pixels-xxl: 32px;
$pixels-3xl: 40px;
