.LayoutMobile {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.LayoutMobile--menu {
  flex: 0 0 60px;
  background-color: #e4e4e4;
}

.LayoutMobile--content {
  flex: 1;
  overflow-y: auto;
}
