.XpmVerticalSpacer--xs {
  height: 12px;
}

.XpmVerticalSpacer--s {
  height: 16px;
}

.XpmVerticalSpacer--sm {
  height: 20px;
}

.XpmVerticalSpacer--m {
  height: 24px;
}

.XpmVerticalSpacer--ml {
  height: 28px;
}

.XpmVerticalSpacer--l {
  height: 32px;
}

.XpmVerticalSpacer--xl {
  height: 36px;
}

.XpmVerticalSpacer--xxl {
  height: 40px;
}

.XpmVerticalSpacer--xxxl {
  height: 48px;
}
